.mode-changer-dropdown {
  font-style: normal;
  width: fit-content;
  position: relative;
  display: inline-block;
}

.selected-mode {
  margin-left: 8px;
}

.modes-container {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  font-size: 20px;
  display: none;
  position: absolute;
  background-color: var(--elementColor);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0 0 8px 8px;
  width: max-content;
  z-index: 1;
}

.dropdown-content button {
  color: var(--primaryColor);
  background-color: var(--elementColor);
  border: none;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
