.stage-creator {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.664);
  z-index: 2;
}

.stage-creator-card {
  border-radius: 8px;
  background-color: var(--elementColor);
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding: 8px;
}

.stage-creator-values {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.stage-creator-values-colors {
  background: var(--backgroundColor);
  border: 1px solid var(--primaryColor);
  border-radius: 8px;
  padding: 8px;
}

.stage-creator-values-colors-hint {
  margin-bottom: 8px;
}

.stage-creator-values-width {
  width: 100%;
}
.stage-creator-values-height {
  width: 100%;
}

.stage-creator-values input {
  border: none;
  background-color: var(--backgroundColor);
  outline: 1px solid var(--primaryColor);
  border-radius: 8px;
  color: var(--primaryColor);
  font-size: 18px;
  padding: 8px;
  margin-top: 16px;
  margin-left: 8px;
  /* outline: none; */
  width: 40%;
}

.stage-creator-values input:focus {
  border-color: #9c3d3d;
  color: var(--primaryColor);
  outline: 2px solid #9c3d3d;
  border-radius: 8px;
}

.stage-creator-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
}
.stage-creator-buttons button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--backgroundColor);
  border-radius: 8px;
  border: none;
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 24px;
}
.stage-creator-buttons button:hover {
  background: var(--backgroundColor);
}
