.toolbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--elementColor);
  height: 40px;
  border-radius: 8px;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.toolbox-separator {
  width: 2px;
  height: 24px;
  margin-left: 8px;
  border-radius: 8px;
  background-color: var(--primaryColor);
}

.toolbox-undoredo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown {
  font-style: normal;
  width: fit-content;
  position: relative;
  display: inline-block;
}

.selected-mode {
  margin-left: 8px;
}

.modes-container {
  display: flex;
  flex-direction: column;
}

.dropdown-content {
  font-size: 20px;
  display: none;
  position: absolute;
  background-color: var(--elementColor);
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 0 0 8px 8px;
  width: max-content;
  z-index: 1;
}

.dropdown-content button {
  color: var(--primaryColor);
  background-color: var(--elementColor);
  border: none;
  font-size: 20px;
  margin-top: 8px;
  cursor: pointer;
}

.dropdown:hover .dropdown-content {
  display: block;
}
