{
  "tabWidth": 2,
  "jsxSingleQuote": true,
  "singleQuote": true,
  "printWidth": 100,
  "trailingComma": "all",
  "arrowParens": "always",
  "endOfLine": "lf",
  "useTabs": false,
  "plugins": ["prettier-plugin-organize-imports"]
}
