.functional-button {
  align-items: center;
  background: var(--element-color);
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  display: flex;
  font-size: 24px;
  text-align: center;
  padding: 8px;
  width: 48%;
}

.functional-button:hover {
  background-color: var(--primary-active-color);
  cursor: pointer;
  outline: 1px solid var(--primary-color);
}
