.brush-params-default-colors {
  background: var(--backgroundColor);
  border: 1px solid var(--primaryColor);
  border-radius: 8px;
  margin-top: 8px;
  padding: 8px;
  width: fit-content;
}

.sorting-container {
  align-items: center;
  background: var(--backgroundColor);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  outline: 1px solid var(--primaryColor);
  justify-content: center;
  margin-top: 8px;
  padding: 8px;
  width: 100%;
}
.sorging-text {
  margin-bottom: 8px;
}
