.workflow {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.App-row {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 8px;
}

.parameters-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--elementColor);
}

.params {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
  width: 20%;
}

.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
