.slider-field {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  width: 100%;
}

.slider-text {
  font-size: 20px;
  text-align: center;
  width: 4.5em;
  margin-bottom: 4px;
}

.slider-value {
  display: flex;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  background-color: var(--backgroundColor);
  line-height: 1.5em;
  height: 1.7em;
  width: 4.5em;
  margin-right: 8px;
  border-radius: 8px;
  /* border: 2px solid #9c3d3d; */
}

.slider-label {
  display: flex;
  width: 100%;
}

.slider-label #slider {
  appearance: none;
  width: 70%;
  background: transparent;
}

.slider-label #slider::-webkit-slider-thumb {
  appearance: none;
  border: 2px solid var(--primaryColor);
  border-radius: 16px;
  background-color: var(--backgroundColor);
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-top: -7.4px;
}

.slider-label #slider::-moz-range-thumb {
  appearance: none;
  border: 2px solid var(--primaryColor);
  border-radius: 16px;
  background-color: var(--backgroundColor);
  height: 16px;
  width: 16px;
  cursor: pointer;
  margin-top: -7.4px;
}

.slider-label #slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: var(--primaryColor);
  cursor: pointer;
}
.slider-label #slider::-moz-range-track {
  width: 100%;
  height: 2px;
  background: var(--primaryColor);
  cursor: pointer;
}

.slider-label #slider:focus {
  outline: none;
}

.slider-label #slider::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}
