.login-background {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--backgroundColor);
  height: 100%;
  width: 100%;
}

.login-container {
  display: flex;
  width: 20%;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  border: 2px solid var(--primaryColor);
  border-radius: 8px;
  background-color: var(--elementColor);
  padding: 16px;
}

.login-message {
}

.login-username {
  width: 100%;
  margin-top: 16px;
}
.login-password {
  margin-top: 16px;
  width: 100%;
}

.login-container input {
  border: none;
  background-color: var(--backgroundColor);
  outline: 1px solid var(--primaryColor);
  border-radius: 8px;
  color: var(--primaryColor);
  font-size: 16px;
  padding: 8px;
  margin-top: 16px;
  /* outline: none; */
  width: 100%;
}

.login-container input:focus {
  border-color: #9c3d3d;
  color: var(--primaryColor);
  outline: 2px solid #9c3d3d;
  border-radius: 8px;
}

.login-button {
  border: 1px solid var(--primaryColor);
  border-radius: 8px;
  background-color: var(--backgroundColor);
  color: var(--primaryColor);
  cursor: pointer;
  font-size: 16px;
  margin-top: 16px;
  padding: 8px;
  width: 100%;
}

.login-button:active {
  background-color: #9c3d3d;
}

.login-register-ref {
  color: var(--primaryColor);
  font-size: 16px;
  margin-top: 16px;
}
