.App {
  font-family: susan, sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  /* padding: 8px 8px 0px 8px; */
}

.App-row {
  display: flex;
  height: 100%;
  flex-direction: row;
  /* margin-top: 8px; */
  justify-content: space-between;
}

.parameters-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 20%;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--elementColor);
}
