.App {
  font-family: susan, sans-serif;
  display: flex;
  height: 100%;
  flex-direction: column;
  /* padding: 8px 8px 0px 8px; */
}

.App-row {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.image-field {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  margin-left: 8px;
  background-color: var(--elementColor);
}

.selected-image {
  object-fit: contain;
  max-width: 90%;
  max-height: 90%;
}

.parameters-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 20%;
  margin-top: 8px;
  margin-left: 8px;
  margin-right: 8px;
  padding: 8px;
  border-radius: 8px;
  background-color: var(--elementColor);
}
